
 <!-- Wrapper Start -->
 <div class="wrapper">
 <!-- Page Content  -->
 <div id="content-page" class="content-page">
    <!-- TOP Nav Bar -->
    <%= render partial: 'shared/top_navbar' %>
    <!-- TOP Nav Bar END -->
    <div class="container-fluid">
       <div class="row">
          <div class="col-lg-4 row m-0 p-0">
             <div class="col-sm-12">
             <div class="iq-card iq-card-block iq-card-stretch iq-user-profile-block">
                <div class="iq-card-body">
                   <div class="user-details-block">
                      <div class="user-profile text-center">
                         <%= image_tag @case.patient.sex == 'm' ? "user/09.jpg" : "user/15.jpg", class: 'rounded-circle img-fluid'%>
                      </div>
                      <div class="text-center mt-3">
                         <h4><b><%= @case.patient.full_name %></b></h4>
                         <p><%= ((Time.zone.now - @case.patient.dob.to_time) / 1.year.seconds).floor %> yo</p>
                      </div>
                      <ul class="doctoe-sedual d-flex align-items-center justify-content-between p-0 mt-4 mb-0">
                        <li class="text-center">
                           <h6 class="text-primary">Sex</h6>
                           <h3><%= @case.patient.sex.capitalize %></h3>
                        </li>
                         <li class="text-center">
                            <h6 class="text-primary">Weight</h6>
                            <h3><%= @case.patient.weight %><span>kg</span></h3>
                         </li>
                         <li class="text-center">
                            <h6 class="text-primary">Height</h6>
                            <h3><%= @case.patient.height %><span>cm</span></h3>
                         </li>
                      </ul>
                   </div>
                   <hr/>
                    <div class="patient-steps">
                       <div class="d-flex align-items-center justify-content-between">
                          <div class="col-md-12">
                            <div class="data-block">
                               <p class="mb-0">ID number</p>
                               <h5><%= @case.patient.pesel %></h5>
                            </div>
                            <div class="data-block">
                               <p class="mb-0">Phone</p>
                               <h5><%= @case.patient.phone %></h5>
                            </div>
                             <div class="data-block mt-3">
                                <p class="mb-0">Chronic Diseases</p>
                                <h5><%= @case.patient.chronic_diseases %></h5>
                             </div>
                          </div>
                       </div>
                    </div>
                </div>
             </div>
           </div>
          </div>
          <div class="col-lg-8">
             <div class="iq-card iq-card-block iq-card-stretch">
                <div class="iq-card-body pb-0">
                   <div class="row">
                      <div class="col-sm-12">
                         <div class="iq-card">
                            <div class="iq-header-title">
                               <h4 class="card-title text-primary">
                                 Case description
                                 <% if @case.status == 'closed' %>
                                   <span class="badge badge-danger">Closed (recommendations available for patient insight)</span>
                                 <% end %>
                               </h4>
                            </div>
                            <p class="mb-0">
                              <%= @case.description %>
                            </p>
                         </div>
                      </div>
                       <div class="col-sm-12">
                          <div class="iq-card">
                             <div class="iq-header-title">
                                <h4 class="card-title text-primary">Files</h4>
                             </div>
                             <p class="mb-0">
                               -
                             </p>
                          </div>
                       </div>
                       <% if @case.doctor.present? %>
                        <div class="col-sm-12">
                           <div class="iq-card">
                              <div class="iq-header-title">
                                 <h4 class="card-title text-primary">Recommendations</h4>
                              </div>
                              <div class="chat-content" style="height:unset; overflow-y:auto">
                                <div class="chat chat-left">
                                  <div class="chat-user">
                                    <a class="avatar m-0">
                                      <%= image_tag "user/12.jpg", class: 'avatar-35 rounded'%>
                                    </a>
                                      <span class="chat-time mt-1"><%= @case.doctor.first_name %><br/><%= @case.doctor.last_name %></span>
                                  </div>
                                  <div class="chat-detail">
                                    <div class="chat-message">
                                      <p><%= @case.solution %></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                           </div>
                        </div>
                        <% end %>
                   </div>
                </div>
             </div>
            <div class="iq-card iq-card-block iq-card-stretch">
               <div class="iq-card-body pb-0">

                <div class="row" style="margin-bottom: 15px">
                   <div class="col-md-12">
                      <div class="iq-header-title">
                         <h4 class="card-title text-primary">Recommendations</h4>
                      </div>
                     <%= form_with model: @case, local: true do |form| %>
                       <div class="field">
                         <%= form.text_area :solution, class: "form-control mb-3", placeholder: "Zalecenia lekarskie" %>
                       </div>
                        <!--
                       <div class="field">
                         <%= form.label :specialist_type %>
                         <%= form.text_field :specialist_type %>
                       </div>
                        -->
                       <div class="actions">
                         <%= form.submit 'Update case', class: "btn btn-block mb-3 btn-primary rounded-pill" %>
                       </div>
                       <div class="row">
                         <div class="col-md-4">
                           <button type="button" class="btn btn-block mb-3 btn-primary rounded-pill" data-toggle="modal" data-target="#callModal"><i class="ri-phone-fill"></i>Call</button>
                         </div>
                         <div class="col-md-4">
                           <button type="button" class="btn btn-block mb-3 btn-dark rounded-pill" data-toggle="modal" data-target="#specializationModal"><i class="ri-shield-cross-fill"></i>Assign specialist</button>
                         </div>
                         <div class="col-md-4">
                           <%= form.submit 'Update and close case', class: "btn btn-block mb-3 btn-success rounded-pill" %>
                         </div>
                       </div>
                     <% end %>
                   </div>
                  </div>
              </div>
             </div>
            <!-- <div class="iq-card iq-card-block iq-card-stretch">
               <div class="iq-card-body pb-0">
                  <div class="row">
                     <div class="col-sm-12">
                        <div class="iq-card">
                           <div class="iq-header-title">
                              <h4 class="card-title text-primary">Komentarze odnośnie pacjenta</h4>
                           </div>
                           <div class="form-group">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                           </div>
                           <button type="submit" class="btn btn-primary">Dodaj komentarz</button>
                           <div class="chat-content" style="height:unset; overflow-y:auto">
                             <div class="chat chat-left">
                               <div class="chat-user">
                                 <a class="avatar m-0">
                                   <%= image_tag "user/06.jpg", class: 'avatar-35 rounded'%>
                                 </a>
                                   <span class="chat-time mt-1">Imie<br/>Lekarza</span>
                               </div>
                               <div class="chat-detail">
                                 <div class="chat-message">
                                   <p>Pacjent odmówił dalszej diagnostyki nerek</p>
                                 </div>
                               </div>
                             </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div> -->
          </div>
       </div>
    </div>
    <!-- Footer -->
       <footer class="bg-white iq-footer">
          <div class="container-fluid">
             <div class="row">
                <div class="col-lg-6">
                   <ul class="list-inline mb-0">
                      <li class="list-inline-item"><a href="privacy-policy.html">Privacy Policy</a></li>
                      <li class="list-inline-item"><a href="terms-of-service.html">Terms of Service</a></li>
                   </ul>
                </div>
                <div class="col-lg-6 text-right">
                   Copyright 2020 <a href="#">OpenTelemedicine.com</a>
                </div>
             </div>
          </div>
       </footer>
       <!-- Footer END -->
 </div>
</div>


<!-- CALL MODAL -->
<!-- Modal -->
<div class="modal fade" id="callModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Calling... </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <center>
          <h4><%= @case.patient.full_name %></h4>
          <h3><%= @case.patient.phone %></h3>
          <p>Please remember that call time is limited to 10 minutes</p>
          <%= image_tag "web_call.png" %>
          <hr>
          <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">End call</button>
        </center>
      </div>
    </div>
  </div>
</div>

<!-- SPECIALIZATION MODAL -->
<!-- Modal -->
<div class="modal fade" id="specializationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Assign case specialization </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <center>
          <h4><%= @case.patient.full_name %></h4>
          <p>Request a specialist consult (Tagged patient questions will be prioritised on specialist's dashboard)</p>
          <select class="form-control" id="exampleFormControlSelect1">
            <option selected="" disabled="">Select specialist</option>
            <option>Endocrynology</option>
            <option>Dermatology</option>
            <option>Diabetology</option>
            <option>Psichiatry</option>
            <option>Oncology</option>
            <option>Nephrology</option>
         </select>
          <hr>
          <button type="button" class="btn btn-lg btn-success">Save</button>
          <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">Cancel</button>
        </center>
      </div>
    </div>
  </div>
</div>
