<p id="notice"><%= notice %></p>

<h1>Przypadki</h1>

<table>
  <thead>
    <tr>
      <th>Opis</th>
      <th>Zalecenia</th>
      <th>Typ slecjalisty</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cases.each do |case| %>
      <tr>
        <td><%= case.description %></td>
        <td><%= case.solution %></td>
        <td><%= case.specialist_type %></td>
        <td><%= link_to 'Pokaż', case %></td>
        <td><%= link_to 'Edytuj', edit_case_path(case) %></td>
        <td><%= link_to 'Usuń', case, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowy przypadek', new_case_path %>
