<!-- Wrapper Start -->
<div class="wrapper">
<!-- Page Content  -->
<div id="content-page" class="content-page">
   <%= render partial: 'shared/top_navbar' %>
   <!-- TOP Nav Bar END -->
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-4 row m-0 p-0">
            <div class="col-sm-12">
              <div class="iq-card">
                    <div class="iq-card-body pl-0 pr-0 pt-0">
                       <div class="doctor-details-block">
                          <div class="doc-profile-bg bg-primary" style="height:150px;">
                          </div>
                          <div class="doctor-profile text-center">
                             <%= image_tag "user/09.jpg", class: "rounded-circle img-fluid" %>
                          </div>
                          <div class="text-center mt-3 pl-3 pr-3">
                             <h4><b><%= current_user.full_name %></b></h4>
                             <p>Patient</p>
                          </div>
                       </div>
                    </div>
                 </div>
          </div>
         </div>
         <div class="col-lg-8">
           <% if @active_case.present? %>
             <div class="iq-card">
                   <div class="iq-card-header d-flex justify-content-between">
                      <div class="iq-header-title">
                         <h4 class="card-title">Current case <span class="badge  badge-primary">Waiting for doctor</span></h4>
                      </div>
                   </div>
                   <div class="iq-card-body">
                        <div class="about-info m-0 p-0">
                            <p><%= @active_case.description %></p>
                        </div>
                   </div>
              </div>
              <%= link_to 'Cancel the case', @active_case, method: :delete, data: { confirm: 'Are you sure you want to cancel case submition?' }, class: "btn btn-block mb-3 btn-outline-danger" %>
            <% else %>
               <%= form_with model: Case.new, local: true do |form| %>
                 <div class="field">
                   <%= form.text_area :description, class: "form-control mb-3", placeholder: "Helth problem description / prescription request" %>
                 </div>
                 <div class="actions">
                   <%= form.submit "Submit case", class: "btn btn-block mb-3 btn-primary" %>
                 </div>
               <% end %>

            <% end %>
            <div class="iq-card">
                  <div class="iq-card-header d-flex justify-content-between">
                     <div class="iq-header-title">
                        <h4 class="card-title">Informations</h4>
                     </div>
                  </div>
                  <div class="iq-card-body">
                     <div class="about-info m-0 p-0">
                       <li>Getting doctor assistance can take up to several days.</li>
                       <li>Doctor will write you online or will call your personal phone number.</li>
                       <li>Doctor can settle e-prescription or e-sick-leave </li>
                       <li>Doctor can assign you to a specialist</li>
                       <li>When doctor submits final solution, it will be sent to you via SMS and available in cases history below.</li>
                     </div>
                  </div>
             </div>
             <div class="iq-card iq-card-block">
                  <div class="iq-card-header d-flex justify-content-between">
                     <div class="iq-header-title">
                        <h4 class="card-title">Cases history</h4>
                     </div>
                  </div>
                  <div class="iq-card-body">
                    <% if @closed_cases.present? %>
                     <ul class="iq-timeline">
                       <% @closed_cases.each do |c| %>
                          <li>
                             <div class="timeline-dots-fill"></div>
                             <h6 class="float-left mb-2 text-dark"><i class="ri-user-fill"></i>
                               <%= c.description %>
                             </h6>
                             <small class="float-right mt-1">dr. <%= c.doctor.full_name %> <%= c.updated_at.to_date %></small>
                             <div class="d-inline-block w-100">
                                <p>
                                  <%= c.solution %>
                                </p>
                             </div>
                          </li>
                        <% end %>
                     </ul>
                     <% else %>
                      <p>brak</p>
                     <% end %>
                  </div>
               </div>
         </div>
      </div>
   </div>
   <!-- Footer -->
      <footer class="bg-white iq-footer">
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-6">
                  <ul class="list-inline mb-0">
                     <li class="list-inline-item"><a href="privacy-policy.html">Privacy Policy</a></li>
                     <li class="list-inline-item"><a href="terms-of-service.html">Terms of Use</a></li>
                  </ul>
               </div>
               <div class="col-lg-6 text-right">
                  Copyright 2020 <a href="#">OpenTelemedicine.com</a>
               </div>
            </div>
         </div>
      </footer>
      <!-- Footer END -->
</div>
</div>
